
<p>
  <b>Gram name:</b>
  <%= @admin_grampanchyat.gram_name rescue nil%>
</p>

<p>
  <b>Block:</b>
  <%= @admin_grampanchyat.block.block_name rescue nil%>
</p>


<%= link_to 'Edit', edit_admin_grampanchyat_path(@admin_grampanchyat) %> |
<%= link_to 'Back', admin_grampanchyats_path %>
