<p id="notice"><%= notice %></p>

<p>
  <b>Source name:</b>
  <%= @admin_source.source_name %>
</p>


<%= link_to 'Edit', edit_admin_source_path(@admin_source) %> |
<%= link_to 'Back', admin_sources_path %>
